<div class="card w-96 bg-base-100 shadow-xl my-3">
  <%= image_tag  item.image ,size: "250x250", class: "mx-auto"%>

  <div class="card-body items-center text-center">
    <h2 class="card-title">
      <%= item.name %>
    </h2>
    <button class="btn btn-secondary">
      <%= link_to item.url do%>
        楽天市場へ
      <% end %>
    </button>
    <h5>食べた感想は?</h5>
    <%= render 'likes/likes', item: item %>
  </div>
</div>
