
<div class="mx-auto px-1 py-3 sm:px-1 max-w-3xl text-center">
  <% @items.each do |item| %>
    <div class="card w-96 bg-base-100 shadow-xl my-3">
      <img src="<%= item['mediumImageUrls'][0]%>" class="mx-auto" width="250" height="250" >
      <div class="card-body items-center text-center">
        <h2 class="card-title">
          <%= item['itemName'] %>
        </h2>
        <button class="btn btn-primary">
          <a href="<%= item['itemUrl'] %>" target="_blank">楽天市場へ</a>
        </button>
      </div>
    </div>
  <% end %>
</div>
